$primaryColor: #4527a4;

html {
	scroll-behavior: smooth;
}

.dataCard.revenueCard {
	height: 550px;
	width: 100%;
}
.wp-block-b-blocks-pie-chart {
	* {
		box-sizing: border-box;
	}

	.bBlocksPieChart{
		display: inline-block;
		max-width: 100%;

		canvas{
			padding: 10px 15px;
		}
	}
}
